@-moz-viewport {
    width: device-width;
    scale: 1;
}

@-ms-viewport {
    width: device-width;
    scale: 1;
}

@-o-viewport {
    width: device-width;
    scale: 1;
}

@-webkit-viewport {
    width: device-width;
    scale: 1;
}

@viewport {
    width: device-width;
    scale: 1;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
}
*,
*:before,
*:after {
    box-sizing:inherit;
}


body {
    margin: 0;
    padding: 0;
}


 input + label {
    display: inline-block;
}


.graphic {
  margin: 0;
 position: relative;
 width: 100%;
}

.img-flex {
    display: block;
    width: 100%;
}

.cap-title /** review title**/ {
    
}

.author {
}



a:link,
a:active {} .skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

a:focus {
    outline: 3px solid #000;
}





.nav {
    padding: 0;
    background-color: none;
    display: inline-block;
    overflow: hidden;
}


.nav li {
    display: inline-block;
  
}
.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #3AC2D4;
    text-decoration: none;
}


.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current, 
.nav .nav-current:link,
.nav .nav-current:visited {
    color: #fff;
}


.profile {
    width: 100%;
    border-radius: 50%;
    border: 1rem;
    border-color: #ffffff;
}

.text-center {
    text-align: center;
}

.icons {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.section-light {
 background-color: #F2F2F2;
}

.section-mid {
    background-color: #A6A5A5;
}

.section-dark {
    background-color: #737373;
}

.blue {
    color: #3AC2D4;
}

.white {
    color: #fff;
}

.light-grey{
   color: #F2F2F2;
}

.mid-grey {
    color: #A6A5A5;
}
    
.dark-grey {
    color: #737373;
}


button {
    font-size: 0.75em;
    background-color: #F2F2F2;
    color: #737373;
    cursor: pointer;
    padding: 0.5em 0.5em;
    border: none;
}


button:hover {
    color: #fff;
    background-color: #3AC2D4
}

.logo {
    width: 20%;
    margin: none;
    padding: none;
    display: inline-block;
    overflow: hidden;
}


@media only screen and (min-width: 25em) {
    .nav {
        text-align: center;
    }
    .nav li {
        display: inline-block;
    }
}

@media only screen and (min-width: 38em) {
    
    .nav {
        text-align: left;
        float: left;
    }
    .nav-footer {
        text-align: center;
    }
    
    .icons {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
      .logo {
    width: 10%;
    }

    
}



@media only screen and (min-width: 60em) {
    .copy {
        float: left;
    }
    .nav-footer {
        float: right;
    }
    .tab {
        margin: 0 5% 0 5%;
    }
    
    .nav {
        float: left;
    }
    .logo {
    width: 10%;
    }
}
    